@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

@section scripts {
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<p>Use this area to provide additional information.</p>
<script src="http://maps.googleapis.com/maps/api/js"></script>
   
<script>

    $(document).ready(function () {


        var latlng = new google.maps.LatLng(51.50015, -0.12624);
        var prevPoint, currentPoint;
        var totalDistance = 0;
        var numAddOne;
        var count = 1;
        var myOptions = {
            zoom: 2,
            center: latlng,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        map = new google.maps.Map(document.getElementById("googleMap"), myOptions);

    });
</script>

}

<div id="googleMap" style="width:500px;height:380px;"></div>