
@{
    ViewBag.Title = "AngularMaps";
}

<h2>AngularMaps</h2>

<script src="~/Scripts/custom/lodash.js"></script>
<script src="~/Scripts/angular.js"></script>
<script src="~/Scripts/custom/angular-simple-logger/index.js"></script>
<script src="~/Scripts/custom/angular-google-maps.min.js"></script>

<script src="~/Scripts/angular-resource.min.js"></script>
<script src="~/Scripts/angular-route.min.js"></script>

<script type="text/javascript">

    angular.module('myApp', ['uiGmapgoogle-maps'])
.config(function (uiGmapGoogleMapApiProvider) {
    uiGmapGoogleMapApiProvider.configure({
        //    key: 'your api key',
        v: '3.20', //defaults to latest 3.X anyhow
        libraries: 'weather,geometry,visualization'
    });
})
.controller('AppCtrl', function ($scope, uiGmapGoogleMapApi) {
    // Do stuff with your $scope.
    // Note: Some of the directives require at least something to be defined originally!
    // e.g. $scope.markers = []

    // uiGmapGoogleMapApi is a promise.
    // The "then" callback function provides the google.maps object.
    uiGmapGoogleMapApi.then(function (maps) {

        $scope.MapOptions = {
            minZoom: 3,
            zoomControl: false,
            draggable: true,
            navigationControl: false,
            mapTypeControl: false,
            scaleControl: false,
            streetViewControl: false,
            disableDoubleClickZoom: false,
            keyboardShortcuts: true
        };

        $scope.polyPath = [];
        $scope.randomMarkers = [];
        $scope.fisrtMarker = {
            id: 3,
            stuff: "stuff",
            coords: {
                latitude: 13,
                longitude: -13
            },
            options: { draggable: true },
            data: "hello1"
        };

        $scope.secondMarker = {
            id: 5,
            stuff: "stuff",
            coords: {
                latitude: 15,
                longitude: -15
            },
            options: { draggable: true },
            data: "hello2"
        };

        $scope.randomMarkers.push($scope.fisrtMarker);
        $scope.randomMarkers.push($scope.secondMarker);
        $scope.polylines = [];

        $scope.polylines.push({
            id: 1,
            path: [
                {
                    latitude: 45,
                    longitude: -74
                }, {

                    latitude: 55,
                    longitude: -55
                }
            ],
            stroke: {
                color: '#6060FB',
                weight: 3
            },
            editable: true,
            draggable: true,
            geodesic: true,
            visible: true
        });

        //$scope.polylines[0].path.push({

        //            latitude: 55,
        //            longitude: -55
        //        }
            
        //);


        $scope.map = {
            center: { latitude: 45, longitude: -73 },
            zoom: 2,
            option: $scope.MapOptions
        };

        $scope.counter = 0;
        $scope.addMarker = function () {
            
            
        }


    });

});

</script>
<style>
    .angular-google-map-container { height: 400px; }
</style>
<div ng-app="myApp" ng-controller="AppCtrl" class="angular-google-map-container">

    <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="options" bounds="map.bounds">
        <ui-gmap-marker ng-repeat="marker in randomMarkers" coords="marker.coords" idkey="'marker.id'">
            <ui-gmap-window IsIconVisibleOnClick="true">
                {{ marker.data }}
            </ui-gmap-window>
        </ui-gmap-marker>
        <ui-gmap-polyline ng-repeat="p in polylines" path="p.path" stroke="{ color: '#000000'}">

        </ui-gmap-polyline>
    </ui-gmap-google-map>
    
    <button type="button" ng-click="addMarker()">Click me</button>

</div>
