@{
    ViewBag.Title = "Home Page";
}
@section scripts {
    <link href="~/Scripts/jquery-ui-1.9.2.custom.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-ui-1.9.2.custom.min.js"></script>
    <script src="~/Scripts/custom/lodash.js"></script>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-resource.min.js"></script>
    <script src="~/Scripts/angular-route.min.js"></script>
    @*<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-animate.js"></script>*@
    <script src="~/Scripts/angular-animate.min.js"></script>
    <script src="~/Scripts/angular-storage.min.js"></script>
    <script src="~/Scripts/custom/ui-bootstrap-custom-tpls-0.14.3.min.js"></script>
    <script src="~/Scripts/custom/angular-thinkbackpacking.js"></script>
    <script src="~/Scripts/custom/shared/controllerFactory.js"></script>
    <script src="~/Scripts/custom/shared/serviceFactory.js"></script>
    <script src="~/Scripts/custom/shared/directives.js"></script>
    <script src="~/Scripts/custom/travel-tool/travelToolApp.js"></script>
    <script src="~/Scripts/custom/travel-tool/polyPathService.js"></script>
    <script src="~/Scripts/custom/travel-tool/directives.js"></script>
    <script src="~/Scripts/custom/travel-tool/filters.js"></script>
    <link href="~/Content/travel-tool.css" rel="stylesheet" />
    @*<link href="~/Content/bootstrap-datepicker3.standalone.min.css" rel="stylesheet" />
    <script src="~/Scripts/custom/bootstrap.datepicker.min.js"></script>*@
    <script src="~/Scripts/custom/angular-simple-logger/index.js"></script>
    <script src="~/Scripts/custom/angular-google-maps.min.js"></script>
    <script src="~/Scripts/moment.min.js"></script>
}
<div id="application" ng-app="routePlanner" ng-controller="routePlannerCtrl" class="container ng-cloak">
    <div class="row">
        <div class="col-md-12">

            <div class="alert alert-warning">
                <strong>tips:</strong>
                <ul>
                    <li>You can drag and drop the locations to reorder your route</li>
                    <li>Hover over the markers to see more information</li>
                </ul>
            </div>

            <div class="alert alert-danger" role="alert" ng-if="<?php echo !is_user_logged_in(); ?>">
                Remember, you must <a href="<?php echo home_url() . '/login'; ?>">login</a> or <a href="<?php echo home_url() . '/register'; ?>">register</a> to save your trip
            </div>

            <h1 id="tripName" class="inset">{{ TripName }}</h1>

        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div id="travel-tool-map" class="angular-google-map-container">
                <ui-gmap-google-map center='map.center' zoom='map.zoom' options="map.options">
                    <ui-gmap-markers models='Route' idkey='id' coords="'coords'" options="'options'" icon="'icon'" events="markersEvents">
                        <ui-gmap-windows show="show">
                            <div class="infoWindowContent" ng-non-bindable>
                                <span><strong>{{location.Full_Name}}</strong></span>
                                <span>{{ stop }}</span>
                                <span>{{nights}} nights</span>
                                <span>Leave by {{ transportName }}</span>
                            </div>
                        </ui-gmap-windows>
                    </ui-gmap-markers>
                    <ui-gmap-polyline ng-repeat="p in PolyLines" path="p.path" stroke="p.stroke" visible="p.visible"></ui-gmap-polyline>
                </ui-gmap-google-map>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label class="travel-tool">{{ Route.length > 0 ? 'Add Location' : 'Add Starting Location' }}</label>
                <div class="input-group">
                    <input id="locationpicker" input-group-btn-click class="form-control margin-5" type="text" ng-model="ChosenLocation" typeahead-editable="false" placeholder="start typing a location ..." typeahead-template-url="customTemplate.html" autocomplete="off" typeahead-min-length="2" typeahead-wait-ms="1" uib-typeahead="location as location.Full_Name for location in getLocationsByTerm($viewValue)">
                    <span class="input-group-btn">
                        <button id="locationSelector" class="btn btn-primary margin-5" type="button" ng-click="Choose()" ng-disabled="IsReadOnly">Choose</button>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label class="travel-tool">Start Date</label>
                @*<input datepicker id="startDate" class="form-control margin-5" type="text" placeholder="enter a start date ..." ng-model="startDate" />*@
                <p class="input-group">
                    <input id="startDate" type="text" class="form-control margin-5" uib-datepicker-popup="{{format}}" placeholder="enter a start date ..." ng-model="StartDate" is-open="status.opened" datepicker-options="dateOptions" close-text="Close" on-open-focus="false" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default margin-5" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>Currency</label>
                <select id="currencyDropDown" class="form-control" ng-options="item.label for item in CurrencyDropdownValues track by item.id" ng-model="SelectedCurrencyDropdownValue"></select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form id="routeForm" name="routeForm">
                <table id="routeTable" class="table table-striped">
                    <thead>
                        <tr>
                            <th style="width: 80px;">stop</th>
                            <th style="width: 300px;">location</th>
                            <th style="width: 100px;">night(s)</th>
                            <th style="width: 150px;">est. daily cost <a href="javascript:void(0;)" tooltip-placement="top" uib-tooltip="An estimated value of daily cost including accommodation, food and drink"><img src="@Url.Content("~/Content/images/help.png")" /></a></th>
                            <th style="width: 100px;">total cost</th>
                            <th style="width: 300px;">leave by</th>
                            <th style="width: 100px;"></th>
                        </tr>
                    </thead>
                    <tbody id="sortable" dnd-list="Route">
                        <tr class="sortable-row" ng-repeat="item in Route" ng-click="TrackSelectedRouteStop(item)">
                            <td style="width: 50px;"><div ng-class="item.stopNumberDivClass"><span ng-class="item.stopNumberSpanClass">{{ item.stop }}</span></div></td>
                            <td style="width: 300px;">{{item.location.Full_Name}}</td>
                            <td style="width: 100px;">
                                <input int class="form-control inputDays" type="number" placeholder="0" ng-pattern="/^\d+$/" ng-model="item.nights" min="0" max="99" ng-change="CalculateLocationCost(item)" />
                            </td>
                            <td style="width: 150px;">
                                <div class="input-group">
                                    <span class="input-group-addon">{{ SelectedCurrencyDropdownValue.symbol }}</span>
                                    <input type="text" class="form-control inputDailyCost" placeholder="0.00" ng-pattern="/^[0-9]+([,.][0-9]{2})?$/" ng-model="item.dailyCost" ng-change="CalculateLocationCost(item)" />
                                </div>
                            </td>
                            <td style="width: 100px;">{{ item.totalCost | currency: SelectedCurrencyDropdownValue.symbol }}</td>
                            <td style="width: 300px;">
                                <div class="btn-group">
                                    <label class="btn btn-primary btn-sm" ng-model="item.transportId" uib-btn-radio="1" ng-change="OnChangeTransport(item, $index)">Air</label>
                                    <label class="btn btn-primary btn-sm" ng-model="item.transportId" uib-btn-radio="2" ng-change="OnChangeTransport(item, $index)">Land</label>
                                    <label class="btn btn-primary btn-sm" ng-model="item.transportId" uib-btn-radio="3" ng-change="OnChangeTransport(item, $index)">Sea</label>
                                </div>
                            </td>
                            <td style="width: 100px;"><i class="glyphicon glyphicon-remove-sign close" ng-click="Remove(item)"></i><i class="glyphicon glyphicon-sort sort-arrows"></i>{{ item.departureDate}}</td>
                        </tr>
                    </tbody>
                </table>
            </form>
            <div class="alert alert-warning" ng-hide="HasRoute()">
                No locations added
            </div>
            <div class="row">
                <div class="col-sm-4"><div class="alert alert-success" role="alert">Return date: {{ ReturnDate() }}</div></div>
                <div class="col-sm-4"><div class="alert alert-success" role="alert">Number of nights: {{ getTripLength() }}</div></div>
                <div class="col-sm-4"><div class="alert alert-success" role="alert">Stops: {{ getNumberOfStops() }}</div></div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="alert alert-info">
                        <span id="totalCost">Total Cost: {{ getTotalRouteCost() | currency: SelectedCurrencyDropdownValue.symbol }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <button type="button" class="btn btn-primary btn-sm" ng-click="ShareRoute('lg')" ng-disabled="Route.length == 0" ng-if="IsAuthenticated">
        <span class="glyphicon glyphicon-user" aria-hidden="true"></span> Share Route
    </button>

    <button type="button" class="btn btn-primary btn-sm" ng-click="Reset()" ng-disabled="Route.length == 0" ng-if="!IsReadOnly">
        <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Reset Route
    </button>

    <button type="button" class="btn btn-primary btn-sm" ng-click="SaveTrip('lg')" ng-disabled="Route.length == 0 || routeForm.$invalid" ng-if="!IsReadOnly">
        <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Save Trip
    </button>

    <button type="button" class="btn btn-primary btn-sm" ng-click="NewTrip('lg', true)" ng-if="IsAuthenticated">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New Trip
    </button>

    <script type="text/ng-template" id="loginModal.html">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Please login</h4>
        </div>
        <div class="modal-body">
            You have tried to access a trip but you are not logged in.
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" ng-click="Login()">Login</button>
        </div>
    </script>

    <script type="text/ng-template" id="tripUnauthorisedModal.html">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Unauthorised</h4>
        </div>
        <div class="modal-body">
            You are not authorised to view this trip.
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" ng-click="MyTrips()">
                <span class="glyphicon glyphicon-list" aria-hidden="true"></span> My Trips
            </button>
        </div>
    </script>

    <script type="text/ng-template" id="loginOrRegisterModal.html">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Please login or register</h4>
        </div>
        <div class="modal-body">
            In order to be able to save your route you will need to login to your account or register with us.
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" ng-click="Login()">Login</button>
            <button type="button" class="btn btn-primary" ng-click="Register()">Register</button>
            <button type="button" class="btn btn-warning" ng-click="Cancel()">Cancel</button>
        </div>
    </script>

    <script type="text/ng-template" id="shareRouteModal.html">
        <div class="modal-header">
            <h3 class="modal-title">Share Route</h3>
        </div>
        <div class="modal-body">

            <div class="alert alert-warning">
                <p>The following recipient will be given access to your trip for the next 48 hours, but they will not be able to make any changes.</p>
            </div>

            <form id="shareRouteForm" name="shareRouteForm">

                <div class="form-group" ng-class="{'has-error': !shareRouteForm.Name.$valid && shareRouteForm.Name.$dirty, 'has-success': shareRouteForm.Name.$valid && shareRouteForm.Name.$dirty, 'has-feedback': (!shareRouteForm.Name.$valid && shareRouteForm.Name.$dirty || shareRouteForm.Name.$valid && shareRouteForm.Name.$dirty)}">

                    <input type="text" name="Name" placeholder="enter the recipient's name" ng-model="ContactDetails.details.Name" class="form-control" required />
                    <div class="text-danger margin-top-10" ng-show="shareRouteForm.Name.$error.required && shareRouteForm.Name.$dirty">Please enter the recipient's name</div>

                    <span class="glyphicon glyphicon-remove form-control-feedback" ng-show="!shareRouteForm.Name.$valid && shareRouteForm.Name.$dirty"></span>
                    <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="shareRouteForm.Name.$valid && shareRouteForm.Name.$dirty"></span>
                </div>

                <div class="form-group" ng-class="{'has-error': !shareRouteForm.Email.$valid && shareRouteForm.Email.$dirty, 'has-success': shareRouteForm.Email.$valid && shareRouteForm.Email.$dirty, 'has-feedback': (!shareRouteForm.Email.$valid && shareRouteForm.Email.$dirty || shareRouteForm.Email.$valid && shareRouteForm.Email.$dirty)}">

                    <input type="text" name="Email" placeholder="enter a valid email address" ng-model="ContactDetails.details.Email" ng-pattern="/^[a-zA-Z0-9'._%--]+@@[a-zA-Z0-9-][a-zA-Z0-9.-]*\.[a-zA-Z]{2,9}$/" class="form-control" required />
                    <div class="text-danger margin-top-10" ng-show="shareRouteForm.Email.$error.required && shareRouteForm.Email.$dirty">Please enter your email address</div>
                    <div class="text-danger margin-top-10" ng-show="shareRouteForm.Email.$error.pattern && shareRouteForm.Email.$dirty">Please enter a valid email address</div>

                    <div ng-show="showEmailError" class="margin-top-10"><p>You're email failed to send. Please try again later</p></div>
                    <uib-progressbar class="progress-striped active margin-top-10" ng-show="showProgressBar" value="dynamic" type="{{type}}">sending...</uib-progressbar>

                    <span class="glyphicon glyphicon-remove form-control-feedback" ng-show="!shareRouteForm.Email.$valid && shareRouteForm.Email.$dirty"></span>
                    <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="shareRouteForm.Email.$valid && shareRouteForm.Email.$dirty"></span>
                </div>
            </form>

        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()" ng-disabled="shareRouteForm.$invalid || DisableSend">
                <span class="glyphicon glyphicon-user" aria-hidden="true"></span> Share
            </button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </script>

    <script type="text/ng-template" id="resetModalTemplate.html">
        <div class="modal-header">
            <h3 class="modal-title">Warning</h3>
        </div>
        <div class="modal-body">
            <p>Are you sure you want to reset your route?</p>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="yes()">Yes</button>
            <button class="btn btn-warning" type="button" ng-click="no()">No</button>
        </div>
    </script>

    <script type="text/ng-template" id="routeLengthExceededModalTemplate.html">
        <div class="modal-header">
            <h3 class="modal-title">Sorry</h3>
        </div>
        <div class="modal-body">
            <p>You are not permitted to add more than {{ MaxLocations }} stops to your route</p>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
        </div>
    </script>

    <script type="text/ng-template" id="saveTripModal.html">
        <div class="modal-header">
            <h3 class="modal-title">{{ title }}</h3>
        </div>
        <div class="modal-body">
           
            <uib-progressbar class="progress-striped active" ng-show="showProgressBar" value="dynamic" type="{{type}}"></uib-progressbar>
            <span ng-show="showInformation">{{ information }}</span>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" ng-show="showOkBtn" ng-click="ok()">OK</button>
        </div>
    </script>

    <script type="text/ng-template" id="customTemplate.html">
        <a>
            <span ng-show="match.model.IsAirport != 1" class="glyphicon glyphicon-map-marker"></span>
            <span ng-show="match.model.IsAirport == 1" class="glyphicon glyphicon glyphicon-plane"></span>
            <span ng-bind-html="match.label | uibTypeaheadHighlight:query"></span>
        </a>
    </script>
</div>
