@{
    ViewBag.Title = "Home Page";
}

@section scripts {
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/ui/1.11.1/jquery-ui.js"></script>
    @*<script src="http://maps.googleapis.com/maps/api/js"></script>*@
<script src="~/Scripts/custom/lodash.js"></script>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-resource.min.js"></script>
    <script src="~/Scripts/angular-route.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-animate.js"></script>
    <script src="~/Scripts/custom/ui-bootstrap-custom-tpls-0.14.1.min.js"></script>
@*<script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.13.4.js"></script>*@
    <script src="~/Scripts/custom/app.js"></script>
<script src="~/Scripts/custom/PolyPathService.js"></script>
    <script src="~/Scripts/custom/controller.js"></script>
    <script src="~/Scripts/custom/directive.js"></script>
    @*<script src="~/Scripts/custom/google-maps.js"></script>*@

    
    <script src="~/Scripts/custom/angular-simple-logger/index.js"></script>
    <script src="~/Scripts/custom/angular-google-maps.min.js"></script>


}
<style>
    .angular-google-map-container {
        height: 400px;
    }

    #routeTable tbody tr td {
        vertical-align: middle;
    }

    .has-error .form-control-feedback {
    color: #a94442;
}

    .has-success .form-control-feedback {
    color: #3c763d;
}

.form-control-feedback {
    position: absolute;
    top: 74px;
    right: 20px;
    z-index: 2;
    display: block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
}
</style>

<div id="application" ng-app="routePlanner" ng-controller="routePlannerCtrl" class="ng-cloak">

    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">Email Route</h3>
        </div>
        <div class="modal-body">
            <p>Please provide your email address</p>
            <form name="contactForm">
                <div class="form-group" ng-class="{'has-error': !contactForm.Email.$valid && contactForm.Email.$dirty, 'has-success': contactForm.Email.$valid && contactForm.Email.$dirty, 'has-feedback': (!contactForm.Email.$valid && contactForm.Email.$dirty || contactForm.Email.$valid && contactForm.Email.$dirty)}">
                    <label class="control-label">Email:</label>

                    <input type="text" name="Email" placeholder="enter your email" ng-model="ContactDetails.details.Email" ng-pattern="/^[a-zA-Z0-9'._%--]+@@[a-zA-Z0-9-][a-zA-Z0-9.-]*\.[a-zA-Z]{2,9}$/" class="form-control" required />
                    <div class="text-danger" ng-show="contactForm.Email.$error.required && contactForm.Email.$dirty">Please enter your email address</div>
                    <div class="text-danger" ng-show="contactForm.Email.$error.pattern && contactForm.Email.$dirty">Please enter a valid email address</div>

                    @*<uib-progressbar class="progress-striped active" value="100" type="info">sending email</uib-progressbar>*@
                    <div ng-show="showProgress">Im a div</div>
                    {{ showProgress }}
                    <span class="glyphicon glyphicon-remove form-control-feedback" ng-show="!contactForm.Email.$valid && contactForm.Email.$dirty"></span>
                    <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="contactForm.Email.$valid && contactForm.Email.$dirty"></span>
                </div>
            </form>

        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()" ng-disabled="contactForm.$invalid">Send</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </script>

    <div class="row">
        <div class="col-md-12">
            <div class="angular-google-map-container">
                <ui-gmap-google-map center='map.center' zoom='map.zoom'>

                    <ui-gmap-marker ng-repeat="marker in route" coords="marker.coords" idkey="'marker.id'">
                        <ui-gmap-window isiconvisibleonclick="true">
                            <div>
                                <h5>{{ marker.destination.Name }}</h5>
                                <p>{{ marker.coords.longitude }}, {{ marker.coords.latitude }}</p>
                            </div>
                        </ui-gmap-window>
                    </ui-gmap-marker>

                    <ui-gmap-polyline ng-repeat="p in PolyLines" path="p.path" stroke="p.stroke" visible="p.visible"></ui-gmap-polyline>
                </ui-gmap-google-map>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <p class="input-group">
                            <input type="text" class="form-control" datepicker-popup="{{format}}" placeholder="Enter the start date of your trip ..." ng-model="startDate" is-open="opened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)"
                                   ng-required="true" close-text="Close" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </p>

                        @*<input type="text" class="form-control" ng-model="ChosenDestination" typeahead-editable="false" typeahead-min-length="3" placeholder="Type a destination ..." typeahead="destination as destination.Name for destination in destinations | filter:$viewValue | limitTo:8">*@
                        <input type="text" ng-model="ChosenDestination" placeholder="Locations loaded via $http" typeahead-min-length="2" typeahead-wait-ms="1" uib-typeahead="destination as destination.Name for destination in getLocation($viewValue)" class="form-control">
                        
                        <button id="destinationSelector" type="button" class="btn btn-primary" ng-click="Choose()">Choose</button>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <span class="label label-primary">{{ getNumberOfStops() }} stops</span>
                    <span class="label label-primary">{{ getTripLength() }} days</span>
                </div>
            </div>
            @*<div><button ng-click="Switch()">Switch</button></div>*@
            <div class="row">
                <div class="col-md-12">
                    <table id="routeTable" class="table table-striped">
                        <thead>
                            <tr>
                                <th style="width: 50px;">stop</th>
                                <th style="width: 200px;">destination</th>
                                <th style="width: 100px;">days</th>
                                <th style="width: 100px;">daily cost <a href="javascript:void(0;)" tooltip-placement="top" uib-tooltip="An estimated value of daily cost including accommodation, food and drink"><img src="@Url.Content("~/Content/images/help.png")" /></a></th>
                                <th style="width: 200px;">total cost</th>
                                <th style="width: 300px;">leave by</th>
                                <th style="width: 100px;"></th>
                            </tr>
                        </thead>
                        <tbody id="sortable" dnd-list="route">
                            <tr class="sortable-row" ng-repeat="item in route" ng-click="TrackSelectedRouteStop(item)">
                                <td style="width: 50px;">{{ item.stop }}:</td>
                                <td style="width: 200px;">{{item.destination.Name}}</td>
                                <td style="width: 100px;">
                                    <input type="number" ng-model="item.days" min="0" max="99" />
                                </td>
                                <td style="width: 100px;">{{ item.destination.DailyCost | currency }}</td>
                                <td style="width: 200px;">{{item.totalCost | currency }}</td>
                                <td style="width: 300px;">
                                    <div class="btn-group">
                                        <label class="btn btn-primary" ng-model="item.transport" uib-btn-radio="'Air'" ng-change="OnChangeTransport(this)" uncheckable>Air</label>
                                        <label class="btn btn-primary" ng-model="item.transport" uib-btn-radio="'Land'" ng-change="OnChangeTransport(this)" uncheckable>Land</label>
                                        <label class="btn btn-primary" ng-model="item.transport" uib-btn-radio="'Sea'" ng-change="OnChangeTransport(this)" uncheckable>Sea</label>
                                    </div>
                                </td>
                                <td style="width: 100px;"><i class="glyphicon glyphicon-remove-sign close" ng-click="Remove(item)"></i>{{ item.departureDate}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="alert alert-warning" ng-hide="HasRoute()">
                        No destinations added
                    </div>
                    <div class="alert alert-success" role="alert" ng-show="ShowReturnDate()">
                        Return date: {{ ReturnDate() }}
                    </div>
                    <div class="alert alert-success">
                        Total Cost: {{ getTotalRouteCost() | currency }}
                    </div>
                </div>
            </div>

            <button class="btn btn-primary" ng-click="save()">Save</button><button class="btn btn-primary" ng-click="open('lg')">Email Route</button>
 
        </div>
    </div>
</div>