@{
    ViewBag.Title = "Home Page";
}

@section scripts {

<link href="~/Scripts/jquery-ui-1.9.2.custom.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery-ui-1.9.2.custom.min.js"></script>

    <script src="~/Scripts/custom/lodash.js"></script>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-resource.min.js"></script>
    <script src="~/Scripts/angular-route.min.js"></script>
    @*<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-animate.js"></script>*@
    <script src="~/Scripts/angular-animate.min.js"></script>
    <script src="~/Scripts/custom/ui-bootstrap-custom-tpls-0.14.1.min.js"></script>
    <script src="~/Scripts/custom/app.js"></script>
    <script src="~/Scripts/custom/PolyPathService.js"></script>
    <script src="~/Scripts/custom/controller.js"></script>
    <script src="~/Scripts/custom/directive.js"></script>
    <script src="~/Scripts/custom/Filters.js"></script>
    <link href="~/Content/travel-tool.css" rel="stylesheet" />

    <link href="~/Content/bootstrap-datepicker3.standalone.min.css" rel="stylesheet" />
    <script src="~/Scripts/custom/bootstrap.datepicker.min.js"></script>
    <script src="~/Scripts/custom/angular-simple-logger/index.js"></script>
    <script src="~/Scripts/custom/angular-google-maps.min.js"></script>
    <script src="~/Scripts/moment.min.js"></script>
    <script src="~/Scripts/custom/travel-tool.js"></script>
}

<div id="application" ng-app="routePlanner" ng-controller="routePlannerCtrl" class="container ng-cloak">

    <script type="text/ng-template" id="sendEmailModal.html">
        <div class="modal-header">
            <h3 class="modal-title">Email Route</h3>
        </div>
        <div class="modal-body">
            <p>Please provide your email address</p>
            <form id="emailRouteForm" name="emailRouteForm">
                <div class="form-group" ng-class="{'has-error': !emailRouteForm.Email.$valid && emailRouteForm.Email.$dirty, 'has-success': emailRouteForm.Email.$valid && emailRouteForm.Email.$dirty, 'has-feedback': (!emailRouteForm.Email.$valid && emailRouteForm.Email.$dirty || emailRouteForm.Email.$valid && emailRouteForm.Email.$dirty)}">

                    <input type="text" name="Email" placeholder="enter your email" ng-model="ContactDetails.details.Email" ng-pattern="/^[a-zA-Z0-9'._%--]+@@[a-zA-Z0-9-][a-zA-Z0-9.-]*\.[a-zA-Z]{2,9}$/" class="form-control" required />
                    <div class="text-danger" ng-show="emailRouteForm.Email.$error.required && emailRouteForm.Email.$dirty">Please enter your email address</div>
                    <div class="text-danger" ng-show="emailRouteForm.Email.$error.pattern && emailRouteForm.Email.$dirty">Please enter a valid email address</div>

                    <div ng-show="showEmailError"><p>You're email failed to send. Please try again later</p></div>

                    <span class="glyphicon glyphicon-remove form-control-feedback" ng-show="!emailRouteForm.Email.$valid && emailRouteForm.Email.$dirty"></span>
                    <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="emailRouteForm.Email.$valid && emailRouteForm.Email.$dirty"></span>
                </div>
            </form>

        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()" ng-disabled="emailRouteForm.$invalid">Send</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </script>

    <script type="text/ng-template" id="resetModalTemplate.html">
        <div class="modal-header">
            <h3 class="modal-title">Warning</h3>
        </div>
        <div class="modal-body">
            <p>Are you sure you want to reset your route?</p>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="yes()">Yes</button>
            <button class="btn btn-warning" type="button" ng-click="no()">No</button>
        </div>
    </script>

    <script type="text/ng-template" id="customTemplate.html">
        <a>
            <span ng-show="match.model.IsAirport != 1" class="glyphicon glyphicon-map-marker"></span>
            <span ng-show="match.model.IsAirport == 1"  class="glyphicon glyphicon glyphicon-plane"></span>
            <span ng-bind-html="match.label | uibTypeaheadHighlight:query"></span>
        </a>
    </script>

    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-warning">
                <strong>tips:</strong>
                <ul>
                    <li>You can drag and drop the locations to reorder your route</li>
                    <li>Hover over the markers to see more information</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div id="travel-tool-map" class="angular-google-map-container">
                <ui-gmap-google-map center='map.center' zoom='map.zoom' options="map.options">

                    <ui-gmap-markers models='route' idkey='id' coords="'coords'" options="'options'" icon="'icon'" events="markersEvents">
                        <ui-gmap-windows show="show">
                            <div class="infoWindowContent" ng-non-bindable>
                                <span><strong>{{destination.Full_Name}}</strong></span>
                                <span>{{ stop }}</span>
                                <span>{{nights}} nights</span>
                                <span>Leave by {{transport}}</span>
                            </div>
                        </ui-gmap-windows>
                    </ui-gmap-markers>

                    <ui-gmap-polyline ng-repeat="p in PolyLines" path="p.path" stroke="p.stroke" visible="p.visible"></ui-gmap-polyline>

                    @*<ui-gmap-polylines idkey="id"
                                           models="PolyLines"
                                           path="'path'"
                                           stroke="'stroke'">
                        </ui-gmap-polylines>*@
                </ui-gmap-google-map>
            </div>
        </div>
    </div>
    <div class="row">

        <div class="col-md-6">
            <div class="form-group">
                <label class="travel-tool">{{ route.length > 0 ? 'Add Location' : 'Add Starting Location' }}</label>

                <div class="input-group">
                    <input id="destinationpicker" input-group-btn-click class="form-control margin-5" type="text" ng-model="ChosenDestination" typeahead-editable="false" placeholder="start typing a location ..." typeahead-template-url="customTemplate.html" autocomplete="off" typeahead-min-length="2" typeahead-wait-ms="1" uib-typeahead="destination as destination.Full_Name for destination in getLocation($viewValue)">
                    <span class="input-group-btn">
                        <button id="destinationSelector" class="btn btn-primary margin-5" type="button" ng-click="Choose()">Choose</button>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label class="travel-tool">Start Date</label>
                <input datepicker id="startDate" class="form-control margin-5" type="text" placeholder="enter a start date ..." ng-model="startDate" />
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>Currency</label>
                <select id="currencyDropDown" class="form-control" ng-options="item.label for item in CurrencyDropdownValues track by item.id" ng-model="SelectedCurrencyDropdownValue"></select>
            </div>
        </div>
        @*<span class="clearfix" />*@
    </div>

    <div class="row">
        <div class="col-md-12">
            <table id="routeTable" class="table table-striped">
                <thead>
                    <tr>
                        <th style="width: 80px;">stop</th>
                        <th style="width: 300px;">location</th>
                        <th style="width: 100px;">night(s)</th>
                        <th style="width: 150px;">est. daily cost <a href="javascript:void(0;)" tooltip-placement="top" uib-tooltip="An estimated value of daily cost including accommodation, food and drink"><img src="@Url.Content("~/Content/images/help.png")" /></a></th>
                        <th style="width: 100px;">total cost</th>
                        <th style="width: 300px;">leave by</th>
                        <th style="width: 100px;"></th>
                    </tr>
                </thead>
                <tbody id="sortable" dnd-list="route">
                    <tr class="sortable-row" ng-repeat="item in route" ng-click="TrackSelectedRouteStop(item)">
                        <td style="width: 50px;"><div ng-class="item.stopNumberDivClass"><span ng-class="item.stopNumberSpanClass">{{ item.stop }}</span></div></td>
                        <td style="width: 300px;">
                            <span ng-show="item.destination.IsAirport != 1" class="glyphicon glyphicon-map-marker"></span>
                            <span ng-show="item.destination.IsAirport == 1" class="glyphicon glyphicon glyphicon-plane"></span>
                            {{item.destination.Full_Name}}
                        </td>
                        <td style="width: 100px;">
                            <input class="form-control inputDays" type="number" placeholder="0" ng-pattern="/^\d+$/" ng-model="item.nights" min="0" max="99" />
                        </td>
                        <td style="width: 150px;">

                            <div class="input-group">
                                <span class="input-group-addon">{{ SelectedCurrencyDropdownValue.symbol }}</span>
                                <input type="text" class="form-control inputDailyCost" placeholder="0.00" ng-pattern="/^[0-9]+([,.][0-9]{2})?$/" ng-model="item.destination.DailyCost" />
                            </div>

                            @*<span>{{ SelectedCurrencyDropdownValue.symbol }} </span><span><input type="text" class="form-control inputDailyCost" placeholder="0.00" ng-pattern="/^([0-9]{1,7}\.[0-9]{2})|\d+$/" ng-model="item.destination.DailyCost" /></span>*@
                        </td>
                        <td style="width: 100px;">{{ item.totalCost | currency: SelectedCurrencyDropdownValue.symbol }}</td>
                        <td style="width: 300px;">
                            <div class="btn-group">
                                <label class="btn btn-primary" ng-model="item.transport" uib-btn-radio="'Air'" ng-change="OnChangeTransport(this)" uncheckable>Air</label>
                                <label class="btn btn-primary" ng-model="item.transport" uib-btn-radio="'Land'" ng-change="OnChangeTransport(this)" uncheckable>Land</label>
                                <label class="btn btn-primary" ng-model="item.transport" uib-btn-radio="'Sea'" ng-change="OnChangeTransport(this)" uncheckable>Sea</label>
                            </div>
                        </td>
                        <td style="width: 100px;"><i class="glyphicon glyphicon-remove-sign close" ng-click="Remove(item)"></i>{{ item.departureDate}}</td>
                    </tr>
                </tbody>
            </table>
            <div class="alert alert-warning" ng-hide="HasRoute()">
                No destinations added
            </div>

            <div class="row">
                <div class="col-sm-4"><div class="alert alert-success" role="alert">Return date: {{ ReturnDate() }}</div></div>
                <div class="col-sm-4"><div class="alert alert-success" role="alert">Number of nights: {{ getTripLength() }}</div></div>
                <div class="col-sm-4"><div class="alert alert-success" role="alert">Stops: {{ getNumberOfStops() }}</div></div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="alert alert-info">
                        <span id="totalCost">Total Cost: {{ getTotalRouteCost() | currency: SelectedCurrencyDropdownValue.symbol }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <button class="btn btn-primary" ng-click="Email('lg')" ng-disabled="route.length == 0">Email Route</button>
    <button class="btn btn-primary" ng-click="Reset('lg')" ng-disabled="route.length == 0">Reset Route</button>
    @*<button class="btn btn-primary" ng-click="save()" ng-disabled="route.length == 0">Save</button>*@

    @*<span>{{ route | json}}</span>*@


</div>
