    /* General */

    .margin-5 {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    label.travel-tool {
        margin-bottom: 0;
    }

    .glyphicon {
        padding-right: 3px;
    }

    ul.dropdown-menu li a {
        cursor: pointer;
    }

    /* End General */

    /* Google Map */

    .angular-google-map-container {
        height: 400px;
    }

    #travel-tool-map {
        margin-bottom: 15px
    }

    #routeTable tbody tr td {
        vertical-align: middle;
    }

    #routeTable tr td input.inputDailyCost, #routeTable tr td input.inputDays {
        width: 70px;
    }

    #totalCost {
        font-size: 1.2em;
        font-weight: 700;
    }

    /* End Google Map */

    /* Email Modal Form */

    form span.form-control-feedback {
		position: absolute;
		top: 0px;
		right: 0px;
		z-index: 2;
		display: block;
		width: 34px;
		height: 34px;
		line-height: 34px;
		text-align: center;
    }

    .modal-body p {
        line-height: 1.428571429;
    }

    .has-error .form-control-feedback {
        color: #a94442;
    }

    .has-success .form-control-feedback {
        color: #3c763d;
    }

    /* End Email Modal Form */

    /* Number Circles */

   .startCircle {
        position: relative;
        background-color: #dff0d8;
        -webkit-border-radius: 24px;
        border-radius: 24px;
        color: #468847;
        height: 24px;
        letter-spacing: 1px;
        text-align: center;
        width: 58px;
    }

    .numberCircle {
        position: relative;
        background-color: rgba(15,165,217,0.7);
        -webkit-border-radius: 24px;
        border-radius: 24px;
        color: #FFF;
        height: 24px;
        letter-spacing: 1px;
        text-align: center;
        width: 24px;
        margin-left: 15px;
    }

    .endCircle {
        position: relative;
        background-color: #f2dede;
        -webkit-border-radius: 24px;
        border-radius: 24px;
        color: #a94442;
        height: 24px;
        letter-spacing: 1px;
        text-align: center;
        width: 58px;
    }
    
    .singleDigitNumberCircleText {
        display: block;
        line-height: 1;
        padding: 5px 0 3px 1px;
    }

    .doubleDigitNumberCircleText {
        display: block;
        line-height: 1;
        padding: 5px 0 3px 0px;
    }

   .startEndCircleText {
        display: block;
        line-height: 1;
        padding: 5px 0 3px;
    }

    /* End Number Circles */

    /* Marker Labels */

    .markerLabelStartStyle {
        background-color: transparent;
        padding-top: 5px;
        padding-left: 3px;
        font-weight: 700;
        z-index: 1;
    }

    .markerLabelEndStyle {
        background-color: transparent;
        padding-top: 5px;
        padding-left: 6px;
        font-weight: 700;
        z-index: 1;
    }

    .markerLabelSingleDigitNumberStyle {
        background-color: transparent;
        padding: 2px;
        padding-top: 5px;
        padding-left: 12px;
        font-weight: 700;
        z-index: 1;
    }

    .markerLabelDoubleDigitNumberStyle {
        background-color: transparent;
        padding: 2px;
        padding-top: 5px;
        padding-left: 9px;
        font-weight: 700;
        z-index: 1;
    }

    /* End Marker Labels */

    /* Marker Info Window */

    .infoWindowContent span {
        display: block;
    }

    input.inputDailyCost.ng-invalid, input.inputDays.ng-invalid {
        border-color: red;
    }

    input.inputDailyCost.form-control {
        display: inline;
    }

    /* End Marker Info Window */

    /* My Trips */

    .my-trip-listed-item:first-child
    {
	    margin-top: 20px;
    }

    .listed-item-header
    {
        margin-top:0;
    }

    div.trip-list ul li
    {
        list-style: none;
    }

    div.trip-list ul li
    {
        margin-bottom: 10px;
    }

    div.trip-list ul li
    {
        padding: 10px; 
        border-bottom: 1px solid #e2e2e2;
        border-top: 1px solid #e2e2e2;
    }

    .my-trip-listed-item
    {
        background: #f5f5f5;
    }

    /* End My Trips */